@charset "utf-8";

/* Web Font Load */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* Type Selector Reset */

.container_postbtn {
    display: none;
}

body {
	-webkit-text-size-adjust: 100%;
	font-weight: 400;
	font-family: 'NanumSquare', sans-serif !important;
	font-size: 1em;
}
html, body {
	width: 100%;
	height: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0;
	font-size: 100%;
	background-color: #ddd;
}
button {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
	background: transparent;
	cursor: pointer;
}
#header .mobile-menu {
	display: none;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
	margin: 0;
	padding: 0;
}
header, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
	background-color: #fff;
	display: block;
}

ul li {
	list-style: none;
}
img, fieldset {
	border: none;
	vertical-align: top;
}

#content .inner {
	margin: 0 auto;
}

#footer {
	padding:50px 20px;
	color: #fff;
}

.footer_container {
	display: block;
    text-align: center;
	max-width: 1200px;
	margin: 0 auto;
}
.footer_logo img {
	height: 60px;
	padding-bottom: 20px;
}
.footer_info {
	line-height: 1.5;
}
.footer_info .copy {
	color: #999;
	padding-top: 20px;
}

/* Add */
#header {
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
	background-color: rgba(0, 0, 0, .5);
}
#header .logo {
	padding: 10px 0 0 10px;
	float: left;
}
#header .logo img {
	height: 50px;
}
#header .inner {
	max-width: 1200px;
	margin: 0 auto;
}
#gnb {
	float: right;
	background-color: transparent;
}
#gnb .main_ul li {
	float: left;
	width: 150px;
}
#gnb .main_ul > li > a {
	display: block;
	position: relative;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	font-weight: 800;
	font-size: 1.2em;
	line-height: 28px;
	color: #fff;
}
#gnb .main_ul > li:hover a:after {
    width: 150px;
    margin-left: 0;
}
#gnb .main_ul > li > a:after {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0px;
    height: 4px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
#gnb .sub_ul {
	display: none;
    height: 100%;
	
}
#gnb .sub_ul li {
	float: none;
	width: 150px;
}
#gnb .sub_ul li:last-child{
	border-bottom: none;
}
#gnb .sub_ul > li > a {
	display: block;
	position: relative;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	color: #ccc;
	letter-spacing: 2px;
}
#gnb .main_ul > li:hover > a {
	color: #fff;
	transition: .3s;
}
#gnb .sub_ul > li:hover > a {
	color: #fff;
	transition: .3s;
	text-decoration: underline;
}

#gnb .main_ul li:hover > ul {
	display: block;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	/* background: #fff;
	border: 2px solid #000; */
}

.content {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

#section0 {
	background-image: url('./images/bg_img.jpg');
	background-size: cover;
	background-position: center;
}
#section0 h1{
	font-size: 4em;
	font-weight: 800;
	color: #fff;
	text-shadow: 0 0 5px #000;
	text-align: left;
	line-height: 1.5;
}
#section0 p{
	font-size: 1.5em;
	text-align: left;
	color: #fff;
	padding-top: 20px;
	text-shadow: 0 0 5px #000;
	line-height: 1.5;
}
@keyframes drag {
	0% {
		bottom: 100px;
	}
	25% {
		bottom: 120px;
	}
	50% {
		bottom: 100px;
	}
	75% {
		bottom: 120px;
	}
	100% {
		bottom: 100px;
	}
}
#section0 .mouse {
	position: absolute;
	height: 50px;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    /* z-index: 2; */
    animation: drag 3s infinite;
}
#section1 .content ul {
	width: 100%;
	padding-top: 50px;
	font-size: 0;
	
	display: inline-block;
}
#section1 .content ul a {
	text-decoration: none;
	color: #fff;
}
#section1 .content ul a:hover {
	text-decoration: underline;
}
#section1 .content ul li {
	width: 32%;
	font-size: 1rem;
	display: inline-block;
	padding: 0 0.5%;
	border-right: 1px solid #fff;
}
#section1 .content ul li:last-child {
	border-right: none;
}
#section1 .content ul li i {
	font-size: 5em;
}
#section1 .content ul li h2 {
	font-size: 1.5em;
	padding-top: 20px;
}
#section1 .content ul li p {
	font-size: 1.2em;
	padding-top: 5px;
	text-align: center;
	opacity: .8;
}
#section2{
	background-color: #2C3E50;
}
#section3,
#section1 {
	background-image: url('./images/cb1_img.jpg');
	background-size: cover;
	background-position: center;
}
#section3 .image_cover_dark,
#section1 .image_cover_dark {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.8;
}
#section2 h1,
#section1 h1{
	text-align: left;
	font-size: 4em;
	font-weight: 800;
	color: #fff;
}
#section2 p,
#section1 p{
	font-size: 1.5em;
	text-align: left;
	color: #fff;
	padding-top: 20px;
	line-height: 1.5;
}
.project_section {
	padding: 20px 0;
}
.project_section .item {
	height: 400px;
	background-size: cover;
	background-position: center;
	margin: 0 20px;
}
.slick-dots li.slick-active button:before {
    color: #fff;
}
.slick-dots li button:before {
    color: #fff;
}
.fp-section {
	height: 100vh;
	min-height: 600px;
}

/* Media Screen - Tablet */
@media screen and (max-width:1199px) {
	
}

@media screen and (max-width:1023px) {
	html {
		font-size: 0.8em;
	}
	#header .mobile-menu {
		display: block;
		position: absolute;
		top: 50%;
		right: 20px;
		width: 50px;
		height: 50px;
		margin-top: -25px;
		text-indent: -999em;
		outline: none;
	}
	#header .mobile-menu span,
	#header .mobile-menu:before,
	#header .mobile-menu:after {
		position: absolute;
		top: 50%;
		left:50%;
		width: 25px;
		height: 2px;
		margin-left: -12px;
		background-color: #ccc;
		-webkit-transition: -webkit-transform .3s;
		transition: transform .3s;
	}
	#header .mobile-menu span {
		top: 50%;
		margin-top: -1px;
	}
	#header .mobile-menu:before {
		content: "";
		margin-top: -10px;
	}
	#header .mobile-menu:after {
		content: "";
		margin-top: 8px;
	}
	#header .mobile-menu.on {
		position: fixed;
		top: 10px;
		margin-top: 0;
		z-index: 610;
		outline: none;
	}
	#header .mobile-menu.on span {
		display: none;
	}
	#header .mobile-menu.on:before {
		margin-top: -1px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#header .mobile-menu.on:after {
		margin-top: -1px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	#gnb {
		position: fixed;
		right: -100%;
		z-index: 600;
		width: 100%;
		height: 100%;
		padding-top: 60px;
		background-color: rgba(0, 0, 0, 0.9);
		box-sizing: border-box;
		-webkit-transition: right .3s;
		transition: right .3s;
	}
	#gnb.on {
		right: 0;
	}
	#gnb .main_ul li {
		width: 100%;
		border-bottom: 1px solid rgba(255,255,255,0.5);
	}
	#gnb .main_ul li:first-child {
		border-top: 1px solid rgba(255,255,255,0.5);
	}
	#gnb .main_ul > li > a {
		padding: 20px 20px 15px;
		text-align: left;
	}
	#gnb .sub_ul > li > a {
		text-align: left;
		padding: 15px 20px 15px 40px;
		text-decoration: none;
		color: #ccc;
		letter-spacing: 2px;
	}
	#gnb .sub_ul {
		display: block;
		background-color: unset;
	}
	#gnb .main_ul > li > a:after {
		display: none;
	}
	#gnb .sub_ul li {
		border-bottom: none;
	}
	#gnb .sub_ul li:first-child {
		border-top: none;
	}
}

/* Media Screen - Mobile */
@media screen and (max-width:767px) {
	#header .logo img {
		height: 40px;
	}
	.main_cover {
		height: 500px;
	}
	.main_cover .slogan {
		text-align: center;
		top: 150px;
	}
	.main_cover .slogan .box h1 {
		font-size: 4em;
	}
	.main_cover .slogan .box h2 {
		font-size: 2em;
	}
	.main_cover .slogan .box p {
		margin-top: 30px;
		line-height: 1.5;
	}
	.main_cover:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 50px;
		left: 50%;
		bottom: -32px;
		z-index: 0;
		background-color: #fff;
		backface-visibility: hidden;
		border: 0 solid transparent;
		border-width: 1px 0;
		transform: translate(-50%, 0) skewY(-3deg);
	}
	#section0 p,
	#section0 h1,
	#section1 p,
	#section1 h1,
	#section2 p,
	#section2 h1 {
		text-align: center;
	}

	.footer_container {
		display: block;
		text-align: center;
	}
	.footer_logo {
		
	}
	.footer_logo img {
		height: 50px;
		margin-bottom: 20px;
		margin-right: 0;
	}
}

@media screen and (max-width:480px) {
	#section0 h1,
	#section1 h1,
	#section2 h1 {
		font-size: 2.2em;
	}
	#section0 p,
	#section1 p,
	#section2 p {
		font-size: 1.2em;
	}
	.project_section .item {
		height: 250px;
	}

}

@media screen and (max-width:360px) {
	
}
